.leftslide {
  background-color: black;
  width: 275px;
  min-width: 275px;
  min-height: 100vh;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftslide_main {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 275px;
  background-color: black;
  margin: 10px;
}
.leftslide_main > a {
  text-decoration: none;
}

.leftslid_logo {
  width: 133px;
  margin-top: 25px;
  object-fit: contain;
  margin-bottom: 20px;
}

.leftSlide_line {
  height: 1px;
  background-color: rgb(46, 46, 46);
  width: 100%;
  margin-top: 10px;
}
.leftslide_lists {
  color: rgb(202, 202, 202);
  padding: 10px;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 45vh;
}
.leftslide_lists > div {
  transition: color 0.2s ease-in-out;
  padding: 15px;
  font-size: 14px;
}
.leftslide_lists > div:hover {
  color: white;
}

.leftslide_lists::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.leftslide_lists::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.leftslide_lists::-webkit-scrollbar-thumb {
  background-color: #181818;
  border: 1px solid #181818;
  height: 10px;
  border-radius: 50px;
}
