.leftslide {
  background-color: black;
  width: 275px;
  min-width: 275px;
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  border-right: 1px solid #282828;
  flex-direction: column;
  align-items: flex-start;
}

.leftslide_main {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 275px;
  background-color: black;
  margin: 10px;
}
.leftslide_main > a {
  text-decoration: none;
}

.leftslid_logo {
  width: 133px;
  margin-top: 25px;
  object-fit: contain;
  margin-bottom: 20px;
}

.leftSlide_line {
  height: 1px;
  background-color: rgb(46, 46, 46);
  width: 100%;
  margin-top: 10px;
}
.leftslide_lists {
  color: rgb(202, 202, 202);
  padding: 10px;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 45vh;
}
.leftslide_lists > div {
  transition: color 0.2s ease-in-out;
  padding: 15px;
  font-size: 14px;
}
.leftslide_lists > div:hover {
  color: white;
}

.leftslide_lists::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.leftslide_lists::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.leftslide_lists::-webkit-scrollbar-thumb {
  background-color: #181818;
  border: 1px solid #181818;
  height: 10px;
  border-radius: 50px;
}

@media (max-width: 1000px) {
  .leftslide {
    width: 100%;
    padding: 0;
    min-height: 100px;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .leftslide_main {
    justify-content: space-evenly;
    height: unset;
    display: flex;
    align-items: center;
    width: 50%;
    height: 79px;
    z-index: 1000;
    position: absolute;
    left: 25%;
    border-radius: 50px;
    padding: 0 20px;
    margin: 0;
  }
  .leftslide_logoLink {
    display: none;
  }
  .leftSlide_line {
    display: none;
  }
  .leftslide_lists {
    display: none;
  }
}
@media (max-width: 680px) {
  .leftslide_main {
    width: 100%;
    left: 0;
    border-radius: 0;
    padding: 0;
  }
  .leftslide {
    position: fixed;
    justify-content: center;
  }
}
