.secPage {
  flex: 1;
  position: relative;
}

.secPage_cover {
  width: 100%;
  height: 364px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.secPage_background {
  background-image: linear-gradient(360deg, #121212, #1a9143);
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.s {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
}
