.secPage {
  flex: 1;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}

.secPage_cover {
  width: 100%;
  height: 364px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.secPage_background {
  background-image: linear-gradient(360deg, #121212, #1a9143);
  /*  background-image: linear-gradient(360deg, #121212, #505050); */
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.secPage_404Page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.secPage_logo {
  width: 200px;
  margin: 50px;
  object-fit: contain;
}
