.leftContant {
  color: rgb(202, 202, 202);
  display: flex;
  align-items: center;

  width: 90%;
  padding: 10px;
  cursor: pointer;
  margin-top: 5px;
  transition: color 0.2s ease-in-out;
}

.leftContant:hover {
  color: white;
}

.leftContant_icon {
  font-size: 20px;
}

.leftContant > p {
  font-size: 16px;
  margin-left: 10px;
}

.leftContantTop {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .leftContantTop {
    margin-top: 5px;
    display: none;
  }
  .leftContantdelete {
    display: none;
  }
  .leftContant > p {
    font-size: 14px;
  }
}
@media (max-width: 680px) {
  .leftContant > p {
    font-size: 12px;
  }
}
