.secCover {
  color: white;
  width: calc(100% - 80px);
  height: 300px;

  display: flex;
  align-items: flex-end;
  padding: 40px;
}
.secCover > img {
  width: 232px;
  height: 232px;
  object-fit: cover;
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
  border-radius: 50%;
}
.secCover_contant {
  padding: 30px 10px;
}
.secCover_contant > h3 {
  font-weight: 100;
  font-size: 15px;
}
.secCover_contant > div > p {
  color: #c2c2c2;
  font-size: 14px;
}
.secCover_releseDate {
  margin: 10px 0;
}
