.category {
  min-height: 193px;
  min-width: 193px;
  max-width: 300px;
  border-radius: 8px;
  color: white;
  padding: 15px;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.category:hover {
  transform: scale(1.1);
}
