.desktopNav {
  position: sticky;
  top: 0;
  right: 0;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.desktopNav_input {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50px;
}
.desktopNav_input > input {
  border: none;
  outline: none;
  padding: 10px 0;
  padding-right: 50px;
  border-radius: 50px;
  font-family: "lora";
  width: 200px;
}
.desktopNav_input > svg {
  margin: 0 10px;
}
.desktopNav_user {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background-color: black;
  cursor: pointer;
}

.desktopNav_user > img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.desktopNav_user > h3 {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .desktopNav {
    top: 82px;
  }
}
@media (max-width: 500px) {
  .desktopNav {
    justify-content: center;
  }
  .desktopNav_user {
    display: none;
  }
}
